Flask==1.1.2
Flask-Cors==3.0.8
flask-restx==0.2.0
gensim==3.8.3
indic-transliteration==1.9.5
jsonpickle==1.4.1
lxml==4.5.1
networkx==2.4
numpy==1.18.5
pydot==1.4.1
pytest==5.4.3
requests==2.23.0
sanskrit-util==0.1.1.dev3
scipy==1.4.1
sentencepiece==0.1.91
six==1.15.0
SQLAlchemy==1.3.17
tinydb==4.1.1